# requirements.txt
# Use a valid CPU-only PyTorch version
torch==2.3.1+cpu
-f https://download.pytorch.org/whl/cpu/torch_stable.html

sentence-transformers

# The rest of your dependencies
fastapi
uvicorn
python-dotenv
langchain_chroma
langchain_groq
langchain_huggingface
langchain-community
chromadb
redis
openai
pydantic
posthog==3.0.0
